<div style="background-color: #307E48; padding: 10px; text-align: center;">
    <h1 style="color: white">SISTEMA DE PLANIFICACIÓN ACADÉMICA FIS</h1>
</div>

<p>Bienvenido {{ nombre }}.</p>
<br>
<p>Por favor, ingresa a nuestro sitio: <a href="">www.planificacionacademicafis.com</a></p>


<br>
<p>Su código de acceso es: {{ codigo }}</p>
<br>